mixin comment(commentarg, postarg)
  div.space-y-2.p-8
    p.text-sm.text-gray-500 #{commentarg.content}
    p.text-sm.text-gray-800 #{commentarg.author.first_name} #{commentarg.author.last_name} 
      span.text-gray-500 • #{commentarg.timestamp_formatted}
    if user
      if commentarg.author._id.toString() === user._id.toString()
        p.text-gray-500.text-sm
          a(href="/posts/" + postarg._id + "/comments/" + commentarg._id + "/edit") Edit
          span   • 
          a.text-red-700(href="/posts/" + postarg._id + "/comments/" + commentarg._id + "/delete") DELETE