extends layout

include ./header.pug
include ./friend.pug
include ./friends.pug

block content
  +header
  div.pt-24
  if user._id.toString() === id.toString()
    div.container.max-w-screen-md.mx-auto.p-4
      a(href="/users").text-center.block
        div(class="py-2.5").bg-yellow-400.text-white.rounded-md Find Friends
  div
    +friends(friend_list)