mixin friend(friendarg)
  div.flex.justify-between.p-4
    div.flex.items-center
      a(href="/users/" + friendarg._id)
        div(style="background-image: url('/images/" + friendarg.picture + "');").h-20.w-20.bg-yellow-400.rounded.bg-cover
      div.ml-4
        a(href="/users/" + friendarg._id).text-md.text-gray-800.font-semibold #{friendarg.first_name} #{friendarg.last_name}