extends layout

block content
  div.h-screen.w-screen.bg-yellow-500.flex.items-center.justify-center.flex-col
    form.container.bg-white.mx-auto.p-6.grid.grid-cols-1.gap-3.self-center(class="sm:max-w-lg sm:shadow-lg sm:rounded-lg" method="POST" action="")
      h2.text-gray-900.font-semibold Send a friend request to #{friendadd.first_name} #{friendadd.last_name}?
      input(type='hidden',name='friendaddid', required='true', value=friendadd._id )
      button.bg-yellow-500.text-white.rounded-md.mt-1(type="submit" class="py-2.5") Yes
      a.flex.items-center.justify-center(class="text-gray-400 border-2 border-gray-400 py-2.5 px-8 rounded-md" href="/posts/" + postId) Go back
    div.m-4
      a.text-white.text-sm(href="/") Home 
      span.text-yellow-400.text-sm.m-1 · 
      a.text-white.text-sm(href="/logout") Logout