extends layout

include ./header.pug
include ./post.pug
include ./comment.pug

block content
  +header
  div.container.max-w-screen-md.mx-auto
    +post(post)
    if user
      if post.author._id.toString() === user._id.toString()
        div.m-8.flex.justify-between
          a.flex.items-center.justify-center(class="text-gray-400 border-2 border-gray-400 py-2.5 px-8 rounded-md" href="/posts/" + post._id + "/edit") Edit
          a.flex.items-center.justify-center(class="text-red-100 bg-red-600 py-2.5 px-8 rounded-md" href="/posts/" + post._id + "/delete") DELETE
    div.space-y-3.p-8
      h2.text-xl.font-semibold(name="comments") Comments
      if post.comments.length > 0
        ul
          if post.comments
            each comment in post.comments
              li
                +comment(comment, post)
      a(href="/posts/" + post._id + "/comments/new") Leave a comment
